In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("supershops.csv")
df.head()

   Marketing Spend  Administration  Transport     Area     Profit
0        114523.61       136897.80  471784.10    Dhaka  192261.83
1        162597.70       151377.59  443898.53      Ctg  191792.06
2        153441.51       101145.55  407934.54  Rangpur  191050.39
3        144372.41       118671.85  383199.62    Dhaka  182901.99
4        142107.34        91391.77  366168.42  Rangpur  166187.94

In [3]:
x = df.drop('Profit', axis=1)
y = df['Profit']

In [4]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [5]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [6]:
x2 = x.copy()

In [7]:
x2.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

# Normalization

In [8]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
m = MinMaxScaler() #feature_range=(0, 1)

In [10]:
df_mar_sp = m.fit(x[['Marketing Spend']]) #calculating
df_mar_sp

MinMaxScaler()

In [11]:
x.head()

   Marketing Spend  Administration  Transport     Area
0        114523.61       136897.80  471784.10    Dhaka
1        162597.70       151377.59  443898.53      Ctg
2        153441.51       101145.55  407934.54  Rangpur
3        144372.41       118671.85  383199.62    Dhaka
4        142107.34        91391.77  366168.42  Rangpur

In [12]:
x['Marketing Spend'] = m.transform(x[['Marketing Spend']])

In [13]:
x['Marketing Spend'].head()

0    0.692617
1    0.983359
2    0.927985
3    0.873136
4    0.859438
Name: Marketing Spend, dtype: float64

In [14]:
fit_transform()

NameError: name 'fit_transform' is not defined

In [ ]:
#Loop

In [ ]:
x['Marketing Spend'].min()

In [ ]:
x['Marketing Spend'].max()

In [ ]:
x['Marketing Spend'].min()

In [ ]:
#do manually

# Standard Scaler

In [ ]:
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html

In [ ]:
x2['Marketing Spend'].std()

In [ ]:
x2['Marketing Spend'].mean()

In [ ]:
#do manually

In [ ]:
#sklearn

In [ ]:
df = pd.read_csv("supershops.csv")
df.head()

In [ ]:
x = df.drop('Profit', axis=1)
y = df['Profit']

In [ ]:
x.head()

In [ ]:
y.head()

In [ ]:
x2 = x.rename(columns = {'Marketing Spend': 'MS','Administration':'AC','Transport': 'TC'})

In [ ]:
x2.head()

In [ ]:
from sklearn.preprocessing import StandardScaler
m = StandardScaler()
df_mar_sp = m.fit(x2[['MS']]) #traning the model
df_mar_sp

In [ ]:
x2['MS'] = m.transform(x2[['MS']])

In [ ]:
x2['MS'].head()

# Robust

In [ ]:
x2.head()

In [ ]:
from sklearn.preprocessing import RobustScaler
m = RobustScaler()
df_mar_sp = m.fit(x2[['MS']]) #traning the model
df_mar_sp

In [ ]:
x2['MS'] = m.transform(x2[['MS']])

In [ ]:
x2['MS'].head()

# Max Abs

In [ ]:
from sklearn.preprocessing import MaxAbsScaler
m = MaxAbsScaler()
df_mar_sp = m.fit(x2[['MS']]) #traning the model
df_mar_sp

In [ ]:
x2['MS'] = m.transform(x2[['MS']])

In [ ]:
x2['MS'].head()

In [ ]:
y = df['Profit']

In [ ]:
y = df[['Profit']]

Log Transformation

In [ ]:
import numpy as np

In [ ]:
x2.head()

In [ ]:
x2['MS'] = np.log(x2['MS'])

In [ ]:
x.head()

In [ ]:
x3 = x.copy()

In [ ]:
x3.head()

In [ ]:
x3 = x3.rename(columns = {'Marketing Spend': 'MS'})

In [ ]:
x3.head()

In [ ]:
x3['MS'] = np.log(x3['MS'])

In [ ]:
x3.head()