# Basic Python

In Python, a variable is a name that represents a memory location where data is stored. It allows you to store and manipulate data of various types, such as numbers, strings, lists, dictionaries, objects, etc. Python is a dynamically typed language, which means you don't need to declare the type of a variable explicitly. The type of the variable is determined based on the data it holds.

In [1]:
print('hello') #default

hello

In [2]:
print('hello')

hello

# i/o

In [4]:
print('hello world') #shift+enter

hello world

In [5]:
print('hello world')
print('hello world')

hello world
hello world

In [8]:
print('hello world','ok',sep=' ** ') #shift+tab

hello world ** ok

In [9]:
print('hello world', end=' || ')
print('hello world')

hello world || hello world

In [11]:
input()

55

'55'

In [12]:
x = input()
y = input()

10
20

In [13]:
x+y

'1020'

In [14]:
x = int(input())
y = int(input())

10
20

In [15]:
x+y

30

In [16]:
x = float(input())
y = float(input())

10
20

In [17]:
x+y

30.0

In [18]:
x = input('Enter taka: ')

Enter taka: 100

In [19]:
x

'100'

In [20]:
print(x)

100

In [22]:
False1 = 100

In [23]:
False1

100

In [24]:
import sys
sys.getsizeof(False1)

28

# Variables in python

In [30]:
x = 100

In [31]:
x

100

In [32]:
X = 200

In [33]:
x = 500

In [34]:
x

500

In [36]:
name_emp = ['a','b','d']
name_emp

['a', 'b', 'd']

In [37]:
name-emp = ['a','b','d']
name-emp

SyntaxError: cannot assign to operator (3337746739.py, line 1)

In [38]:
name emp = ['a','b','d']
name emp

SyntaxError: invalid syntax (2546912007.py, line 1)

In [39]:
x,y,z = 10,50,30

In [40]:
x

10

In [41]:
y

50

In [42]:
z

30

In [43]:
x,y,z = 10,50 # not enough values to unpack (expected 3, got 2)

ValueError: not enough values to unpack (expected 3, got 2)

In [46]:
'''
this 
is
multi 
line 
commnet
'''
x=101

In [47]:
x

101

Global Variable: Variables that are created outside of a function are known as global variables. Global variables can be used by everyone, both inside of functions and outside.
 
Local Variable: Variables that are created inside of a function are known as local variables. local variables can be used by inside of function.

In [50]:
a = 45 #global

def func():
    print(a+5)

In [51]:
func()

50

In [55]:
def func():
    m = 67 #local variable
    print(m)

In [56]:
func()

67

In [57]:
m

NameError: name 'm' is not defined

In [60]:
def func2():
    global n
    n = 67 #global
    print(n)

In [61]:
func2()

67

In [62]:
n

67

In [63]:
def user_input():
    xtrain = input()
    ytrain = input()
    xtest = input()
    ytest = input()
    return 100

In [64]:
user_input()

1
2
3
4

100

In [66]:
def user_input():
    xtrain = input()
    ytrain = input()
    xtest = input()
    ytest = input()
    return xtrain, ytrain, xtest, ytest

In [67]:
user_input()

10
20
40
50

('10', '20', '40', '50')

In [68]:
def user_input():
    xtrain = input()
    ytrain = input()
    xtest = input()
    ytest = input()
    return (xtrain, ytrain), (xtest, ytest)
    
(p,q), (g,h) = user_input()

45
66
78
88

In [69]:
p,q

('45', '66')

# Strings

In [71]:
data = 'data science for all'
data

'data science for all'

In [72]:
type(data)

str

In [73]:
type(100)

int

In [74]:
type(100.5)

float

In [75]:
data

'data science for all'

In [78]:
data = data.upper()

In [79]:
data

'DATA SCIENCE FOR ALL'

In [82]:
data = data.lower()

In [83]:
data

'data science for all'

In [84]:
data.swapcase()

'DATA SCIENCE FOR ALL'

In [85]:
data.split()

['data', 'science', 'for', 'all']

In [88]:
x = 40
print('I have {} taka'.format(x))

I have 40 taka

In [89]:
for i in data:
    print(i)

d
a
t
a

s
c
i
e
n
c
e

f
o
r

a
l
l

In [90]:
for i in data.split():
    print(i)

data
science
for
all

Python supports the usual logical conditions from mathematics: 

Equals: a == b 
Not Equals: a != b 
Greater than a > b 
Greater than or equal to a >= b
Less than a < b 
Less than or equal to a <= b

In [91]:
x = 50
y = 150

if x>y:
    print('Crazy!')
elif x>=y:
    print('Crazy! 2')
elif y<=x:
    print('Crazy! 3')
else:
    print('Nope!')

Nope!

In [92]:
x = 50
y = 150

if x>y:
    print('Crazy!')
elif x>=y:
    print('Crazy! 2')
elif y>=x:
    print('Crazy! 3')
else:
    print('Nope!')

Crazy! 3

In [98]:
num = float(input('enter any number: '))

if num % 2 == 0:
    print('even')
else:
    print('odd')

enter any number: 100
even

In [102]:
n = int(input('enter any value: '))

if n%2 == 0:
    if n%3 == 0:
        print('it is even & divisible by 3.', n)
    else:
        print('it is even but not divisible by 3.', n)
        
else:
    print('odd')

enter any value: 20
it is even but not divisible by 3. 20

# Loops in Python

In [103]:
for i in range(10): # 0 to n-1 ; here, n=10
    print(i)

0
1
2
3
4
5
6
7
8
9

In [104]:
for i in range(10): # 0 to n-1 ; here, n=10
    print('hello', i)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [106]:
for i in range(2,10,2): # 0 to n-1 ; here, n=10
    print('hello', i)

hello 2
hello 4
hello 6
hello 8

In [108]:
data

'data science for all'

In [110]:
data[0]

'd'

In [111]:
data[2:7] #range

'ta sc'

In [109]:
for i in data:
    print(i)

d
a
t
a

s
c
i
e
n
c
e

f
o
r

a
l
l

In [112]:
data.split()

['data', 'science', 'for', 'all']

In [113]:
for i in data.split():
    print(i)

data
science
for
all

In [114]:
datat2 = data.split()
datat2

['data', 'science', 'for', 'all']

In [115]:
i = 1
while i<10:
    print(i)
    i+=1 # i = i + 1

1
2
3
4
5
6
7
8
9

In [122]:
datat2[0]

'data'

In [121]:
index = 0
while index < len(datat2):
    print(datat2[index])
    index += 1

data
science
for
all

In [123]:
for i in datat2:
    print(i)

data
science
for
all