In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('price.csv')

In [3]:
df.head()

   Price
0    110
1    105
2    115
3    120
4    110

In [4]:
df.shape

(10, 1)

In [5]:
df1 = df.copy()

In [7]:
df1 = df1.rename(columns = {'Price': 'price'})

In [8]:
df1

   price
0    110
1    105
2    115
3    120
4    110
5    110
6    130
7    150
8    100
9    105

In [11]:
x  = df1.copy()

In [12]:
x.head()

   price
0    110
1    105
2    115
3    120
4    110

# Normalization

In [14]:
from sklearn.preprocessing import MinMaxScaler

In [15]:
m = MinMaxScaler()

In [17]:
df_mar_sp = m.fit(x[['price']]) #traing the model
df_mar_sp

MinMaxScaler()

In [18]:
x['price'] = m.transform(x[['price']])

In [19]:
x['price'].head()

0    0.2
1    0.1
2    0.3
3    0.4
4    0.2
Name: price, dtype: float64

In [20]:
x[['price']].head()

   price
0    0.2
1    0.1
2    0.3
3    0.4
4    0.2

# Standard Scaler

In [37]:
x1 = df1.copy()

In [38]:
df1.head()

   price
0    110
1    105
2    115
3    120
4    110

In [39]:
from sklearn.preprocessing import StandardScaler
m = StandardScaler()
df_mar_sp = m.fit(x1[['price']]) #traning the model
df_mar_sp

StandardScaler()

In [40]:
x1['price'] = m.transform(x1[['price']])

In [42]:
x1[['price']].head()

      price
0 -0.391610
1 -0.747620
2 -0.035601
3  0.320408
4 -0.391610

# Robust Scaller

In [43]:
x2 = df1.copy()

In [44]:
x2.head()

   price
0    110
1    105
2    115
3    120
4    110

In [45]:
from sklearn.preprocessing import RobustScaler
m = RobustScaler()
df_mar_sp = m.fit(x2[['price']]) #traning the model
df_mar_sp

RobustScaler()

In [46]:
x2['price'] = m.transform(x2[['price']])

In [47]:
x2[['price']].head()

   price
0    0.0
1   -0.4
2    0.4
3    0.8
4    0.0

# Max Abs

In [48]:
x3 = df1.copy()

In [49]:
x3.head()

   price
0    110
1    105
2    115
3    120
4    110

In [51]:
from sklearn.preprocessing import MaxAbsScaler
m = MaxAbsScaler()
df_mar_sp = m.fit(x3[['price']]) #traning the model
df_mar_sp

MaxAbsScaler()

In [52]:
x3['price'] = m.transform(x3[['price']])

In [55]:
x3[['price']].head()

      price
0  0.733333
1  0.700000
2  0.766667
3  0.800000
4  0.733333

In [56]:
import numpy as np

In [57]:
x4 = df1.copy()

In [58]:
x4.head()

   price
0    110
1    105
2    115
3    120
4    110

In [60]:
x4['price'] = np.log(x4['price'])

In [61]:
x4.head()

      price
0  4.700480
1  4.653960
2  4.744932
3  4.787492
4  4.700480