# Continue

In [2]:
for i in range(1,20):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for i in range(20, 1, -1):
    print(i)

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2

In [4]:
for i in range(-20, -1, 1):
    print(i)

-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10
-9
-8
-7
-6
-5
-4
-3
-2

In [5]:
for i in range(1,20): #odd
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9
11
13
15
17
19

In [6]:
for i in range(1,20): #even
    if i%2 == 1:
        continue # skip 
    print(i)

2
4
6
8
10
12
14
16
18

# Break

In [7]:
for i in range(1,20): 
    if i==15:
        break #stop
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14

# List

In [8]:
li = [1,2,3,4,True,False, 'data', 'ai',(1,2,3), [1,2,3],{1,2,3}]

In [9]:
li

[1, 2, 3, 4, True, False, 'data', 'ai', (1, 2, 3), [1, 2, 3], {1, 2, 3}]

In [10]:
li[10]

{1, 2, 3}

In [11]:
li[1]

2

In [13]:
li[9][0]

1

In [14]:
li[4:7]

[True, False, 'data']

In [15]:
li[-1]

{1, 2, 3}

In [16]:
import sys
sys.getsizeof(li)

144

In [18]:
import sys
sys.getsizeof(tuple(li))

128

In [19]:
li.append('shakil')

In [20]:
li

[1,
 2,
 3,
 4,
 True,
 False,
 'data',
 'ai',
 (1, 2, 3),
 [1, 2, 3],
 {1, 2, 3},
 'shakil']

In [21]:
li.index('shakil')

11

In [23]:
li.insert(0,11) # value insert in specific index

In [24]:
li

[11,
 1,
 2,
 3,
 4,
 True,
 False,
 'data',
 'ai',
 (1, 2, 3),
 [1, 2, 3],
 {1, 2, 3},
 'shakil']

In [25]:
li.index('shakil')

12

In [26]:
li.remove('shakil')

In [27]:
li

[11, 1, 2, 3, 4, True, False, 'data', 'ai', (1, 2, 3), [1, 2, 3], {1, 2, 3}]

In [28]:
li = [1,2,3,10,3,60,5]
li

[1, 2, 3, 10, 3, 60, 5]

In [29]:
li.sort()

In [30]:
li

[1, 2, 3, 3, 5, 10, 60]

In [31]:
li.pop(5)

10

In [33]:
li

[1, 2, 3, 3, 5, 60]

In [34]:
del li[1]

In [35]:
li

[1, 3, 3, 5, 60]

In [37]:
li.count(3)

2

In [38]:
#https://docs.python.org/3/tutorial/datastructures.html

In [40]:
li

[1, 3, 3, 5, 60]

In [41]:
li2 = li

In [42]:
li2

[1, 3, 3, 5, 60]

In [43]:
li

[1, 3, 3, 5, 60]

In [44]:
li2[0] = 'ai'

In [45]:
li2

['ai', 3, 3, 5, 60]

In [46]:
li

['ai', 3, 3, 5, 60]

In [47]:
li3 = li.copy()
li3

['ai', 3, 3, 5, 60]

In [48]:
li

['ai', 3, 3, 5, 60]

In [49]:
li3[0] = 100

In [50]:
li3

[100, 3, 3, 5, 60]

In [51]:
li

['ai', 3, 3, 5, 60]

In [52]:
li.clear()

In [53]:
li

[]

In [58]:
li = list(('abc',10))

In [59]:
li

['abc', 10]

# List Comprehension: Elegant Way to Create Lists

In [60]:
li = [1,2,3,10,3,60,5]
li

[1, 2, 3, 10, 3, 60, 5]

In [61]:
[i for i in li]

[1, 2, 3, 10, 3, 60, 5]

In [62]:
[i for i in li if (i%2==1)]

[1, 3, 3, 5]

In [63]:
li

[1, 2, 3, 10, 3, 60, 5]

In [64]:
for i in li:
    print(i)

1
2
3
10
3
60
5

In [65]:
for i in li:
    if i == 60:
        break
    print(i)

1
2
3
10
3

# Tuple

In [66]:
tup = (1,2,4,5,[1,2,3],{4,5})
tup

(1, 2, 4, 5, [1, 2, 3], {4, 5})

In [67]:
tup[2]

4

In [68]:
tup[0] = 100 #immutable

TypeError: 'tuple' object does not support item assignment

In [69]:
tup.append(10)

AttributeError: 'tuple' object has no attribute 'append'

In [71]:

tup1 = tup+(10,)

In [72]:
tup1

(1, 2, 4, 5, [1, 2, 3], {4, 5}, 10)

In [73]:
del tup1[1]

TypeError: 'tuple' object doesn't support item deletion

In [75]:
#slicing
tup2 = tup1[:3] + tup1[4:]
tup2

(1, 2, 4, [1, 2, 3], {4, 5}, 10)

In [76]:
tup2.count(4)

1

In [77]:
tup2.index(4)

2

# Set{}

In [78]:
s1 = {'data','ai',2,3,4,5,6}

In [79]:
s1

{2, 3, 4, 5, 6, 'ai', 'data'}

In [80]:
s2 = {4,3,2,2}
s2

{2, 3, 4}

In [81]:
s2.add(1)

In [82]:
s2

{1, 2, 3, 4}

In [83]:
s2.add(5)

In [84]:
s2

{1, 2, 3, 4, 5}

In [85]:
s2[0]

TypeError: 'set' object is not subscriptable

In [86]:
#union
s1.union(s2)

{1, 2, 3, 4, 5, 6, 'ai', 'data'}

In [87]:
#intersection
s1.intersection(s2)

{2, 3, 4, 5}

In [88]:
s1.remove('ai')

In [89]:
s1

{2, 3, 4, 5, 6, 'data'}

In [90]:
len(s1)

6

In [91]:
s1.add(100)

In [92]:
s1

{100, 2, 3, 4, 5, 6, 'data'}

In [93]:
s1

{100, 2, 3, 4, 5, 6, 'data'}

In [94]:
s1.add(True)

In [95]:
s1

{100, 2, 3, 4, 5, 6, True, 'data'}

In [96]:
s1.update([2,17])

In [97]:
s1

{100, 17, 2, 3, 4, 5, 6, True, 'data'}

In [98]:
s1.remove('ai')

KeyError: 'ai'

In [99]:
s1.discard('ai')

In [101]:
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [103]:
import array as ar
n = ar.array('i',[1,10])
n

array('i', [1, 10])

In [105]:
n = ar.array('f',[1,10.5])
n

array('f', [1.0, 10.5])

In [106]:
n.insert(0,5)

In [107]:
n

array('f', [5.0, 1.0, 10.5])

In [108]:
n.remove(1)

In [109]:
n

array('f', [5.0, 10.5])

# Dict

In [110]:
dic = {
    "name": 'monir',
    'age': 30,
    'varsity': 'ABC'
}

In [112]:
dic

{'name': 'monir', 'age': 30, 'varsity': 'ABC'}

In [113]:
dic.keys()

dict_keys(['name', 'age', 'varsity'])

In [114]:
dic.values()

dict_values(['monir', 30, 'ABC'])

In [117]:
#user input
n = int(input('Enter element num: '))
dict2 = { }
for i in range(n):
    key = input()
    value = input()
    dict2[key] = value
    print(dict2)

Enter element num: 3
a
1
{'a': '1'}
b
2
{'a': '1', 'b': '2'}
c
4
{'a': '1', 'b': '2', 'c': '4'}

In [120]:
#user input
n = int(input('Enter element num: '))
dict2 = { }
for i in range(n):
    key = input('enetr key: ')
    value = input('eneter value: ')
    dict2[key] = value

print(dict2)

Enter element num: 2
enetr key: abc
eneter value: 100
enetr key: cde
eneter value: 344
{'abc': '100', 'cde': '344'}

In [121]:
dict2

{'abc': '100', 'cde': '344'}

In [122]:
dict2['efg'] = '900'

In [123]:
dict2

{'abc': '100', 'cde': '344', 'efg': '900'}

In [124]:
dict2['efg']

'900'

In [125]:
dict2['efg'] = '1000'

In [126]:
dict2

{'abc': '100', 'cde': '344', 'efg': '1000'}

In [127]:
dict2.pop('efg')

'1000'

In [128]:
dict2

{'abc': '100', 'cde': '344'}

In [142]:
dic = {
    "name": ['monir','faiaz','fuad'],
    'age': [30,29,28],
    'varsity': ['ABC','cde','lka']
}

In [143]:
dic

{'name': ['monir', 'faiaz', 'fuad'],
 'age': [30, 29, 28],
 'varsity': ['ABC', 'cde', 'lka']}

In [144]:
dic.items()

dict_items([('name', ['monir', 'faiaz', 'fuad']), ('age', [30, 29, 28]), ('varsity', ['ABC', 'cde', 'lka'])])

# Pandas Dataframe Library

In [139]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rashe\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\users\rashe\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [134]:
import pandas as pd

In [145]:
df = pd.DataFrame(dic)

In [146]:
df

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde
2   fuad   28     lka

In [148]:
df.to_csv('basic.csv')

In [149]:
df2 = pd.read_csv('basic.csv')
df2

   Unnamed: 0   name  age varsity
0           0  monir   30     ABC
1           1  faiaz   29     cde
2           2   fuad   28     lka

In [151]:
df2.drop('Unnamed: 0', axis=1)

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde
2   fuad   28     lka

In [152]:
df2 = pd.read_excel('basic.xltx')
df2

  ,name,age,varsity
0    0,monir,30,ABC
1    1,faiaz,29,cde
2     2,fuad,28,lka

In [158]:
df2 = pd.read_excel('xa.xlsx')
df2

  name  id
0  abc  12
1   cd  34

In [159]:
df

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde
2   fuad   28     lka

In [160]:
df.head()

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde
2   fuad   28     lka

In [161]:
df.head(2)

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde

In [162]:
df.tail(1)

   name  age varsity
2  fuad   28     lka

In [166]:
df[0:3]

    name  age varsity
0  monir   30     ABC
1  faiaz   29     cde
2   fuad   28     lka

In [167]:
df['age'][0:3]

0    30
1    29
2    28
Name: age, dtype: int64

In [168]:
df.age

0    30
1    29
2    28
Name: age, dtype: int64

In [169]:
df.shape

(3, 3)

In [170]:
row, col = df.shape

In [171]:
row

3

In [172]:
col

3